*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: system-ui;
}
body{
    height: 100vh;
    background-color: #f5f6fa;
    /* background-color: #212130; */
    /* color: white; */
    /* color: #bdbdbd; */
    /* color: #6c757d; */
}

.title{
    /* text-align: center; */
    padding: 20px;
    font-size: 40px;
    letter-spacing: 1.5px;
    text-decoration: underline;
}
.heading{
    text-align: center;
    padding: 10px 0;
    font-size: 35px;
    font-weight: 500;
}
.main{
    display: flex;justify-content: space-around;align-items: center;
    margin-bottom: 20px;
}
.box{
    background-color: white;
    height: auto;
    width: 25%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
}
.box h3{
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
    letter-spacing: 1px;
}
.box h1{
    font-size: 32px;
    font-weight: 600;
}

.table{
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
}
.container{
    margin-bottom: 20px;
}
tr{
    font-size: 20px;
    padding: 8px 10px;
}
tr:nth-child(2n){
    background-color: rgb(189, 186, 186);
}
.table th,td{
    padding: 10px 25px;
    font-size: 30px;
}
.footer{
    text-align: center;
    font-size: 30px;
}
.corona_case, .corona_caseI{
    color: #007bff;
}
.recovered, .recoveredI{
    color: #28a745;
}
.deaths, .deathsI{
    color: #ff073a;
}
.color{
    color: #6c757d;
}